.drink-list-table {
  width: 600px;
}

.drink-list-table th,
.drink-list-table td {
  text-align: left;
}

.drink-list-table td a {
  color: lightpink;
}

.drink-list-table td a:first-child {
  margin-right: 10px;
}

